<ng-template
  #lastUpdatedLine
  let-date="date"
>
  @if (date) {
    <small>
      {{ labelLastUpdated }}
      <time [attr.datetime]="date | date: 'yyyy-MM-dd'">
        {{ date | date: 'dd-MM-yyyy' }}
      </time>
    </small>
  }
</ng-template>

@if (list?.length) {
  <ol
    role="list"
    class="ion-padding-start"
  >
    @for (item of list; track item) {
      <li class="ion-padding-bottom">
        <p>
          <app-breadcrumbs
            [baseUrl]="baseUrl"
            [item]="item"
            style="display: block"
          ></app-breadcrumbs>
          @if (showDateUpdatedOutsideQuestion) {
            <ng-container
              *ngTemplateOutlet="
                lastUpdatedLine;
                context: { date: item.dateUpdated }
              "
            ></ng-container>
          }
        </p>
        <app-q-a-set
          [qaSet]="item"
          [showParentDateUpdated]="!showDateUpdatedOutsideQuestion || false"
        ></app-q-a-set>
      </li>
    }
  </ol>
}
