<ng-template
  #lastUpdatedLine
  let-date="date"
>
  <small *ngIf="date">
    {{ labelLastUpdated }}
    <time [attr.datetime]="date | date : 'yyyy-MM-dd'">
      {{ date | date : "d-MM-''YY" }}
    </time>
  </small>
</ng-template>

<ol
  *ngIf="list?.length"
  class="ion-padding-start"
>
  <li
    *ngFor="let item of list"
    class="ion-padding-bottom"
  >
    <p>
      <app-breadcrumbs
        [baseUrl]="baseUrl"
        [item]="item"
        style="display: block"
      ></app-breadcrumbs>
      <ng-container *ngIf="showDateUpdatedOutsideQuestion">
        <ng-container
          *ngTemplateOutlet="
            lastUpdatedLine;
            context: { date: item.dateUpdated }
          "
        ></ng-container>
      </ng-container>
    </p>
    <app-q-a-set
      [qaSet]="item"
      [showParentDateUpdated]="!showDateUpdatedOutsideQuestion || false"
    ></app-q-a-set>
  </li>
</ol>
