# (local) Configuration files
.env
.env.*
!.env.example
**/*.prod.ts

# Local test data
# Any sheet-data used in local development can be ignored:
data/**/values/*.json
# Only the example/test data will be included:
!data/test-sheet-id-1/values/*.json
!data/test-sheet-id-2-langauge-nl/values/*.json
!data/test-sheet-id-3-language-ar/values/*.json

# Generated code
www
coverage
.angular/cache/
.nx/
tsconfig.tsbuildinfo

# Third party code
node_modules

# Sensitive data
.credentials.json
