# See .gitignore
www
coverage

# Exception for inline code/styles
src/index.html

# Don't format generated code
package*.json
**/environment.prod.ts

# Don't reorder imports for polyfills:
src/polyfills.ts
