<nav aria-label="Breadcrumbs">
  <ol class="list-flat list-inline ion-no-margin">
    <li>
      @if (item?.categoryID) {
        <a
          [routerLink]="[baseUrl, item?.categorySlug]"
          (click)="click(item?.categorySlug)"
          class="text-style--inline-link is_minimal"
          >{{ item?.categoryName || item?.categoryID }}</a
        >
      }
      @if (!item?.subCategoryID) {
        <strong aria-hidden="true">&nbsp;: </strong>
      }
    </li>
    @if (item?.subCategoryID) {
      <li>
        <strong aria-hidden="true">&nbsp;/ </strong>
        @if (item?.subCategoryID) {
          <a
            [routerLink]="[baseUrl, item?.categorySlug, item?.subCategorySlug]"
            (click)="click(item?.categorySlug, item?.subCategorySlug)"
            class="text-style--inline-link is_minimal"
            >{{ item?.subCategoryName || item?.subCategoryID }}</a
          >
        }
        <strong aria-hidden="true">&nbsp;: </strong>
      </li>
    }
  </ol>
</nav>
