<a
  *ngIf="item?.categoryID"
  [routerLink]="useUrlSlugs ? [baseUrl, item?.categorySlug] : [baseUrl]"
  [queryParams]="
    useUrlSlugs
      ? null
      : {
          categoryID: item?.categoryID
        }
  "
  queryParamsHandling=""
  class="text-style--inline-link is_minimal"
  >{{ item?.categoryName || item?.categoryID }}</a
><strong *ngIf="item?.subCategoryID">&nbsp;/ </strong>
<a
  *ngIf="item?.subCategoryID"
  [routerLink]="
    useUrlSlugs
      ? [baseUrl, item?.categorySlug, item?.subCategorySlug]
      : [baseUrl]
  "
  [queryParams]="
    useUrlSlugs
      ? null
      : {
          categoryID: item?.categoryID,
          subCategoryID: item?.subCategoryID
        }
  "
  queryParamsHandling=""
  class="text-style--inline-link is_minimal"
  >{{ item?.subCategoryName || item?.subCategoryID }}</a
><strong>&nbsp;: </strong>
