<ng-template
  #lastUpdatedLine
  let-date="date"
>
  @if (date) {
    <small>
      {{ labelLastUpdated }}
      <time [attr.datetime]="date | date: 'yyyy-MM-dd'">
        {{ date | date: 'dd-MM-y' }}
      </time>
    </small>
  }
</ng-template>

<ng-template
  #answerBlock
  let-answer="answer"
>
  <div
    markdown
    [data]="answer"
    [inline]="false"
  ></div>
</ng-template>

<details
  [id]="qaSet.slug"
  [open]="isActive(qaSet.slug)"
  (toggle)="logDetailsChange($event.target, qaSet.slug, qaSet.question)"
  class="q-a-set text-area--level floating-box"
>
  <summary class="q-a-set--toggle action">
    {{ qaSet.question }}
  </summary>
  <div class="q-a-set--content ion-padding">
    @if (showParentDateUpdated && qaSet.dateUpdated) {
      <p>
        <ng-container
          *ngTemplateOutlet="
            lastUpdatedLine;
            context: { date: qaSet.dateUpdated }
          "
        ></ng-container>
      </p>
    }

    <ng-container
      *ngTemplateOutlet="answerBlock; context: { answer: qaSet.answer }"
    ></ng-container>

    @if (qaSet.children.length) {
      <ul class="ion-no-padding">
        @for (subQaSet of qaSet.children; track subQaSet) {
          <li class="ion-margin-bottom">
            <details
              (toggle)="
                logDetailsChange(
                  $event.target,
                  subQaSet.slug,
                  subQaSet.question
                )
              "
              class="q-a-set is_child floating-box"
            >
              <summary class="q-a-set--toggle action">
                {{ subQaSet.question }}
              </summary>
              <div class="q-a-set--content ion-padding">
                @if (subQaSet.dateUpdated) {
                  <p>
                    <ng-container
                      *ngTemplateOutlet="
                        lastUpdatedLine;
                        context: { date: subQaSet.dateUpdated }
                      "
                    ></ng-container>
                  </p>
                }
                <ng-container
                  *ngTemplateOutlet="
                    answerBlock;
                    context: { answer: subQaSet.answer }
                  "
                ></ng-container>
              </div>
            </details>
          </li>
        }
      </ul>
    }
  </div>
</details>
