<app-parent-link [label]="offer?.subCategoryName"></app-parent-link>

<article class="ion-margin-vertical">
  <app-offer
    [offer]="offer"
    [regionData]="regionData"
  ></app-offer>
</article>

<br />

<app-last-updated-time class="ion-margin-vertical"></app-last-updated-time>

<br />

<app-feedback-link
  [template]="regionData?.feedbackShareUrl"
  [labels]="{
    answerNegative: regionData?.feedbackAnswerNegative,
    answerPositive: regionData?.feedbackAnswerPositive,
    question: regionData?.feedbackQuestion,
    resultNegative: regionData?.feedbackResultNegative,
    resultPostive: regionData?.feedbackResultPostive,
    shareCta: regionData?.feedbackShareCta,
    thanks: regionData?.feedbackThanks
  }"
></app-feedback-link>
