.app-header--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

@media print {
  .app-header--bar {
    border-bottom: 1px dashed var(--print-text);
  }
}

.app-header--logo {
  flex: 0 0 auto;

  padding: 0.25em 0;
}

.app-header--logo-link {
  display: block;
}

.app-header--logo-img {
  object-fit: contain;
}

.app-header--title {
  flex: 1 1 100%;
}

.app-header--tools {
  flex: 0 0 auto;
}
