.app-header--back-icon {
  font-size: 2em;
  width: 1em;
  height: 1em;
  margin-inline-start: -0.5em;
  margin-inline-end: -0.2em;
}

.app-header--logo-link {
  padding-block: 0;
  padding-inline: 0.5em;
}

.app-header--logo {
  object-fit: contain;
}

@media print {
  ion-toolbar {
    border-bottom: 1px dashed var(--print-text);
  }
}
