<a
  [routerLink]="['./', offer?.slug]"
  (click)="click(offer)"
  class="action list-item"
>
  <span class="logo-badge list-item--icon">
    <ion-img
      [src]="
        offer?.offerIcon ||
        'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
      "
      alt=""
      [attr.aria-hidden]="true"
      [attr.loading]="'lazy'"
      [attr.decoding]="'async'"
      class="logo-badge--image"
    ></ion-img>
  </span>
  <span
    class="list-item--content text-style--hide-overflow_5 text-style--size-08"
  >
    <ng-container *ngIf="offer?.offerName">
      <strong class="text-style--size-1">{{
        offer?.offerName || '&nbsp;'
      }}</strong
      ><br />
    </ng-container>
    <span
      *ngIf="offer?.offerDescription"
      markdown
      [data]="offer?.offerDescription | slice : 0 : 200"
      [inline]="true"
    ></span>
  </span>
</a>
