<h2 class="ion-no-margin">{{ regionData?.referralPageGreeting }}</h2>

<p class="text-style--wrap-newlines ion-margin-vertical ion-padding-bottom">
  {{ regionData?.referralPageInstructions }}
</p>

<ul class="list-flat tile-grid tile-grid_base-3 ion-margin-vertical">
  <li
    *ngFor="let categoryItem of categories"
    class="tile-grid--item"
  >
    <app-category-link
      [category]="categoryItem"
      [onlyChildSubCategory]="getOnlyChildSubCategory(categoryItem)"
    ></app-category-link>
  </li>
  <li
    *ngIf="(categories?.length % 3) <= 1"
    class="tile-grid--item"
    aria-hidden="true"
  >
    <!-- filler-item for empty spot at 2nd-in-a-row -->
  </li>
  <li
    *ngIf="(categories?.length % 3) <= 2"
    class="tile-grid--item"
    aria-hidden="true"
  >
    <!-- filler-item for empty spot at 3rd-in-a-row -->
  </li>
</ul>

<br /><br /><br />
