<div
  *ngIf="useQandAs"
  class="floating-action-area is_in-page layout--float-end text-style--end ion-margin-start"
>
  <a
    *ngIf="useQandAs && qaHighlights?.length > 0"
    [routerLink]="['highlights']"
    [attr.title]="
      regionData?.labelHighlightsItemsCount + ' ' + qaHighlights?.length
    "
    [attr.aria-label]="
      regionData?.labelHighlightsItemsCount + ' ' + qaHighlights?.length
    "
    class="action is_inline is_round is_attention text-style--center ion-margin-bottom"
  >
    <strong>
      <small *ngIf="regionData?.labelHighlightsButton?.length > 1">
        {{ regionData?.labelHighlightsButton }}
      </small>
      <ng-container *ngIf="regionData?.labelHighlightsButton?.length === 1">
        {{ regionData?.labelHighlightsButton }}
      </ng-container>
    </strong>
  </a>
  <br *ngIf="useQandAs && useQandASearch && qaSets?.length" />
  <a
    *ngIf="useQandAs && useQandASearch && qaSets?.length"
    [routerLink]="['search']"
    [attr.title]="regionData?.labelSearchPageTitle"
    [attr.aria-label]="regionData?.labelSearchPageTitle"
    class="action is_inline is_round is_attention text-style--center ion-margin-bottom"
  >
    <!-- See Source: /src/assets/icons/search.svg -->
    <img
      src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M464 428L339.92 303.9a160.48 160.48 0 0030.72-94.58C370.64 120.37 298.27 48 209.32 48S48 120.37 48 209.32s72.37 161.32 161.32 161.32a160.48 160.48 0 0094.58-30.72L428 464zM209.32 319.69a110.38 110.38 0 11110.37-110.37 110.5 110.5 0 01-110.37 110.37z'/%3e%3c/svg%3e"
      alt=""
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      style="display: block"
    />
  </a>
</div>

<h2 class="ion-no-margin">{{ regionData?.pageGreeting }}</h2>

<div
  markdown
  [data]="regionData?.pageInstructions"
  [inline]="false"
  class="ion-margin-vertical ion-padding-bottom"
></div>

<ul class="list-flat tile-grid tile-grid_base-3 ion-margin-vertical">
  <li
    *ngFor="let categoryItem of categories"
    class="tile-grid--item"
  >
    <app-category-link
      [category]="categoryItem"
      [onlyChildSubCategory]="getOnlyChildSubCategory(categoryItem)"
    ></app-category-link>
  </li>
  <li
    *ngIf="categories?.length % 3 <= 1"
    class="tile-grid--item"
    aria-hidden="true"
  >
    <!-- filler-item for empty spot at 2nd-in-a-row -->
  </li>
  <li
    *ngIf="categories?.length % 3 <= 2"
    class="tile-grid--item"
    aria-hidden="true"
  >
    <!-- filler-item for empty spot at 3rd-in-a-row -->
  </li>
</ul>
