<ion-toolbar color="secondary">
  <ion-title class="ion-text-center app-header--title">
    <ion-text *ngIf="!loading">
      {{ title }}
    </ion-text>
    <ion-skeleton-text
      *ngIf="loading"
      animated
      style="width: 50%; line-height: 1; margin: auto"
    ></ion-skeleton-text>
  </ion-title>
  <ion-buttons slot="end">
    <ng-container *ngIf="logoUrl">
      <a href="/" class="app-header--logo-link">
        <ion-thumbnail>
          <ion-img [src]="logoUrl" alt="" class="app-header--logo"></ion-img>
        </ion-thumbnail>
      </a>
    </ng-container>
  </ion-buttons>
</ion-toolbar>
