.app-header--back-button,
.app-header--title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.app-header--back-icon {
  font-size: 2em;
  margin-inline-start: -0.5em;
  margin-inline-end: -0.2em;
}

.app-header--logo-link {
  padding: 0 0.5em;
}

.app-header--logo {
  object-fit: contain;
}
