:host {
  display: block;

  --search-input--text: var(--hia_level_text, black);
  --search-input--background: var(--hia_level_fill, white);
  --search-input--border: silver;
  --search-input--focus: var(--hia_level_text, black);
}

form {
  padding-block-start: 1em;
  padding-block-end: 1em;

  // Layout
  display: flex;
  gap: 0.5em;

  input[type='search'] {
    flex: 1 1 80%;
  }
  button[type='submit'] {
    flex: 0 0 auto;
  }
}

.input-field--text {
  color: var(--search-input--text);
  background: var(--search-input--background);
  border: 1px solid var(--search-input--border);
  border-radius: 0.25em;
  padding-block: 0.25em;
  padding-inline: 0.5em;

  &:focus {
    outline-color: var(--search-input--focus);
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
  }
}
