:host {
  display: block;

  --search-input--text: var(--ion-color-light-contrast, black);
  --search-input--background: var(--ion-color-light, white);
}

form {
  padding-block-start: 1em;
  padding-block-end: 1em;

  // Layout
  display: flex;
  gap: 0.5em;

  input[type='search'] {
    flex: 1 1 80%;
  }
  button[type='submit'] {
    flex: 0 0 20%;
  }
}

.input-field--text {
  color: var(--search-input--text);
  background: var(--search-input--background);
  border: 0;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  &:focus {
    outline-color: var(--search-input--background);
    outline-offset: 2px;
    outline-width: 4px;
    outline-style: solid;
  }
}
