.link-row {
  display: flex;
  padding: 0.5rem;

  align-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.link-row--icon {
  display: block;
  margin: 0.5rem;
  max-width: 25%;
  height: auto;
  min-height: 52px;
  max-height: 52px;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
}

.link-row--label {
  flex: 1 1 100%;
  display: block;
}
