<a
  [routerLink]="['./']"
  [queryParams]="{
    categoryID: category?.categoryID,
    subCategoryID: subCategory?.subCategoryID
  }"
  (click)="click()"
  class="link-row action"
>
  <img
    [src]="
      subCategory?.subCategoryIcon ||
      'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
    "
    alt=""
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    class="link-row--icon"
  />
  <strong class="link-row--label text-style--header text-style--size-1">
    {{ subCategory?.subCategoryName }}
  </strong>
</a>
