<app-parent-link [region]="region"></app-parent-link>

<h2 class="text-style--alt text-style--size-2">
  {{ regionData?.labelSearchPageTitle }}
</h2>

@if (regionData?.labelSearchPageIntro) {
  <div
    markdown
    [data]="regionData?.labelSearchPageIntro"
    [inline]="false"
  >
    {{ regionData?.labelSearchPageIntro }}
  </div>
}

<app-search-input
  [(searchQuery)]="searchQuery"
  (doSearch)="onSearchInput($event)"
  [actionLabel]="regionData?.labelSearchAction"
  class="ion-margin-vertical"
></app-search-input>

@if (!!searchQuery) {
  <section
    id="search-results"
    [tabindex]="-1"
    class="focus--minimal focus--fade-out"
  >
    @if (loadingSearch) {
      <div>
        <span
          class="loading-text"
          style="width: 95%"
        ></span>
        <span class="loading-text"></span>
        <span
          class="loading-text"
          style="width: 88%"
        ></span>
        <span
          class="loading-text"
          style="width: 75%"
        ></span>
      </div>
    } @else {
      @if (searchResults.length === 0) {
        <!-- TODO: use correct copy -->
        <p>No results found</p>
      } @else {
        <p>
          {{ regionData?.labelSearchResultsCount }}
          <strong>{{ searchResults?.length }}</strong>
        </p>
        <app-q-a-set-list
          [baseUrl]="'../'"
          [list]="searchResults"
          [showDateUpdatedOutsideQuestion]="false"
          class="ion-margin-vertical"
        ></app-q-a-set-list>
      }
    }
  </section>
}
