<app-parent-link [region]="region"></app-parent-link>

<h2 class="text-style--alt text-style--size-2">
  <ng-container *ngIf="!useSearchApi">
    {{ regionData?.labelSearchPageTitle }}
  </ng-container>
  <ng-container *ngIf="useSearchApi"> What are you looking for? </ng-container>
</h2>

<p *ngIf="useSearchApi">Search by typing a question or relevant keywords.</p>

<app-search-input
  [(searchQuery)]="searchQuery"
  (doSearch)="onSearchInput($event)"
  [actionLabel]="regionData?.labelSearchAction"
  class="ion-margin-vertical"
></app-search-input>

<section
  *ngIf="!!searchQuery"
  id="search-results"
  [tabindex]="-1"
  class="focus--minimal focus--fade-out"
>
  <div
    *ngIf="useSearchApi"
    class="ion-padding"
    style="border: 1px solid white; border-radius: 0.25em"
  >
    <div *ngIf="loadingSearch">
      <span
        class="loading-text"
        style="width: 95%"
      ></span>
      <span class="loading-text"></span>
      <span
        class="loading-text"
        style="width: 88%"
      ></span>
      <span
        class="loading-text"
        style="width: 75%"
      ></span>
    </div>
  </div>

  <p
    *ngIf="
      useSearchApi && !!searchQuery && !loadingSearch && searchResults?.length
    "
  >
    For more detailed information, check out these FAQs:
  </p>

  <app-q-a-set-list
    *ngIf="!!searchQuery && !loadingSearch"
    [baseUrl]="'../'"
    [list]="searchResults"
    [showDateUpdatedOutsideQuestion]="false"
    class="ion-margin-vertical"
  ></app-q-a-set-list>
</section>
