<app-parent-link [label]="subCategory?.categoryName"></app-parent-link>

<h2 class="text-style--alt text-style--size-2">
  {{ subCategory?.subCategoryName }}
</h2>

@if (subCategory?.subCategoryDescription) {
  <div
    markdown
    [data]="subCategory?.subCategoryDescription"
    [inline]="false"
    class="ion-margin-vertical ion-padding-bottom"
  ></div>
}

@if (
  useQandAs &&
  qaSets &&
  qaSets?.length &&
  (qaSets | categoryFilter: category | subCategoryFilter: subCategory)?.length
) {
  <ul class="list-flat ion-margin-vertical">
    @for (
      qaSetItem of qaSets
        | categoryFilter: category
        | subCategoryFilter: subCategory;
      track qaSetItem
    ) {
      <li class="ion-margin-bottom">
        <app-q-a-set [qaSet]="qaSetItem"></app-q-a-set>
      </li>
    }
  </ul>
}

@if (
  useOffers &&
  offers &&
  offers?.length &&
  offerChapters &&
  offerChapters?.length
) {
  @for (offerChapter of offerChapters; track offerChapter) {
    @if (offerChapter[0]?.chapterName) {
      <h3
        [id]="offerChapter[0]?.chapterSlug"
        class="ion-padding-top"
      >
        {{ offerChapter[0].chapterName }}
      </h3>
    }
    <ul class="list-flat ion-margin-vertical">
      @for (offerItem of offerChapter; track offerItem) {
        <li class="ion-margin-bottom">
          <app-offer-link [offer]="offerItem"></app-offer-link>
        </li>
      }
    </ul>
  }
}

<br />

<app-last-updated-time class="ion-margin-vertical"></app-last-updated-time>

<br />

<app-feedback-link
  [template]="regionData?.feedbackShareUrl"
  [labels]="{
    answerNegative: regionData?.feedbackAnswerNegative,
    answerPositive: regionData?.feedbackAnswerPositive,
    question: regionData?.feedbackQuestion,
    resultNegative: regionData?.feedbackResultNegative,
    resultPostive: regionData?.feedbackResultPostive,
    shareCta: regionData?.feedbackShareCta,
    thanks: regionData?.feedbackThanks,
  }"
></app-feedback-link>
