<app-parent-link [label]="subCategory?.categoryName"></app-parent-link>

<h2 class="text-style--alt text-style--size-2">
  {{ subCategory?.subCategoryName }}
</h2>

<div
  *ngIf="subCategory?.subCategoryDescription"
  markdown
  [data]="subCategory?.subCategoryDescription"
  [inline]="false"
  class="ion-margin-vertical ion-padding-bottom"
></div>

<ul
  *ngIf="
    useQandAs &&
    qaSets &&
    qaSets?.length &&
    (qaSets | categoryFilter: category | subCategoryFilter: subCategory)?.length
  "
  class="list-flat ion-margin-vertical"
>
  <li
    *ngFor="
      let qaSetItem of qaSets
        | categoryFilter: category
        | subCategoryFilter: subCategory
    "
    class="ion-margin-bottom"
  >
    <app-q-a-set [qaSet]="qaSetItem"></app-q-a-set>
  </li>
</ul>

<ng-container
  *ngIf="
    useOffers &&
    offers &&
    offers?.length &&
    offerChapters &&
    offerChapters?.length
  "
>
  <ng-container *ngFor="let offerChapter of offerChapters">
    <h3
      *ngIf="offerChapter[0]?.chapterName"
      [id]="offerChapter[0]?.chapterSlug"
      class="ion-padding-top"
    >
      {{ offerChapter[0].chapterName }}
    </h3>
    <ul class="list-flat ion-margin-vertical">
      <li
        *ngFor="let offerItem of offerChapter"
        class="ion-margin-bottom"
      >
        <app-offer-link [offer]="offerItem"></app-offer-link>
      </li>
    </ul>
  </ng-container>
</ng-container>

<br />

<app-last-updated-time class="ion-margin-vertical"></app-last-updated-time>

<br />

<app-feedback-link
  [template]="regionData?.feedbackShareUrl"
  [labels]="{
    answerNegative: regionData?.feedbackAnswerNegative,
    answerPositive: regionData?.feedbackAnswerPositive,
    question: regionData?.feedbackQuestion,
    resultNegative: regionData?.feedbackResultNegative,
    resultPostive: regionData?.feedbackResultPostive,
    shareCta: regionData?.feedbackShareCta,
    thanks: regionData?.feedbackThanks,
  }"
></app-feedback-link>
