<a
  [routerLink]="
    useUrlSlugs
      ? onlyChildSubCategory
        ? ['./', category.slug, onlyChildSubCategory.slug]
        : ['./', category.slug]
      : ['./']
  "
  [queryParams]="
    useUrlSlugs
      ? null
      : {
          categoryID: category.categoryID,
          subCategoryID: onlyChildSubCategory
            ? onlyChildSubCategory.subCategoryID
            : null
        }
  "
  class="link-tile action"
  (click)="click(category)"
>
  <img
    [src]="
      category.categoryIcon ||
      'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
    "
    alt=""
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    class="link-tile--icon"
  />
  <strong class="link-tile--label text-style--header">
    {{ category.categoryName }}
  </strong>
</a>
