.link-tile {
  min-width: 5rem;
  height: 100%;

  text-align: center;
}

.link-tile--icon {
  display: block;
  margin: 0.5rem auto;
  max-width: 100%;
  height: auto;
  min-height: 52px;
  max-height: 52px;
  aspect-ratio: 1 / 1;
}

.link-tile--label {
  display: block;
}
