// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// Label to show current environment
.env-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.2em;
  text-align: center;
  background: gold;
  opacity: 0.6;
  pointer-events: none;
}
