<app-parent-link [region]="region"></app-parent-link>

<h2
  *ngIf="category?.categoryName"
  class="text-style--alt text-style--size-2"
>
  {{ category?.categoryName }}
</h2>

<div
  *ngIf="category?.categoryDescription"
  markdown
  [data]="category?.categoryDescription"
  [inline]="false"
  class="ion-margin-vertical"
></div>

<ul
  *ngIf="
    subCategories &&
    subCategories?.length &&
    (subCategories | categoryFilter: category)?.length
  "
  class="list-flat ion-margin-vertical"
>
  <li
    *ngFor="let subCategoryItem of subCategories | categoryFilter: category"
    class="ion-margin-bottom"
  >
    <app-sub-category-link
      [subCategory]="subCategoryItem"
    ></app-sub-category-link>
  </li>
</ul>
