<app-parent-link [region]="region"></app-parent-link>

@if (category?.categoryName) {
  <h2 class="text-style--alt text-style--size-2">
    {{ category?.categoryName }}
  </h2>
}

@if (category?.categoryDescription) {
  <div
    markdown
    [data]="category?.categoryDescription"
    [inline]="false"
    class="ion-margin-vertical"
  ></div>
}

@if (
  subCategories &&
  subCategories?.length &&
  (subCategories | categoryFilter: category)?.length
) {
  <ul class="list-flat ion-margin-vertical">
    @for (
      subCategoryItem of subCategories | categoryFilter: category;
      track subCategoryItem
    ) {
      <li class="ion-margin-bottom">
        <app-sub-category-link
          [subCategory]="subCategoryItem"
        ></app-sub-category-link>
      </li>
    }
  </ul>
}
