.sheet--button {
  width: 140px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);

  cursor: pointer;
}

.sheet--title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
