<div
  *ngIf="offer"
  class="offer"
>
  <div>
    <span class="logo-badge offer--float-logo">
      <ion-img
        [src]="
          offer.offerIcon ||
          'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
        "
        alt=""
        [attr.loading]="'lazy'"
        [attr.decoding]="'async'"
        class="logo-badge--image"
      ></ion-img>
    </span>

    <h2
      *ngIf="offer.offerName"
      class="text-style--header text-style--size-2"
    >
      {{ offer.offerName }}
    </h2>
    <div
      *ngIf="offer.offerDescription"
      markdown
      [data]="offer.offerDescription"
      [inline]="false"
    ></div>
  </div>

  <div class="offer--details ion-margin-vertical">
    <div
      *ngIf="offer.offerOpeningHoursWeekdays"
      class="ion-margin-vertical"
    >
      <h3 class="no-margin-bottom text-style--size-2">
        {{ regionData?.labelOfferOpenWeek }}
      </h3>
      <div
        markdown
        [data]="offer.offerOpeningHoursWeekdays"
        [inline]="false"
        class="ion-margin-bottom"
      ></div>
    </div>
    <div
      *ngIf="offer.offerOpeningHoursWeekends"
      class="ion-margin-vertical"
    >
      <h3 class="no-margin-bottom text-style--size-2">
        {{ regionData?.labelOfferOpenWeekend }}
      </h3>
      <div
        markdown
        [data]="offer.offerOpeningHoursWeekends"
        [inline]="false"
        class="ion-margin-bottom"
      ></div>
    </div>

    <div
      *ngIf="offer.offerDoYouNeedToKnow"
      class="ion-margin-vertical"
    >
      <h3 class="no-margin-bottom text-style--size-2">
        {{ regionData?.labelOfferNeedToKnow }}
      </h3>
      <div
        markdown
        [data]="offer.offerDoYouNeedToKnow"
        [inline]="false"
        class="ion-margin-bottom"
      ></div>
    </div>

    <div *ngIf="offer.offerLinks?.length">
      <h3 class="no-margin-bottom text-style--size-2">
        <img
          src="/assets/icons/external-link.svg"
          alt=""
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          class="icon is_small"
        />
        {{ regionData?.labelOfferWebsite }}
      </h3>
      <p class="ion-no-margin ion-margin-bottom">
        <ng-container *ngFor="let offerLink of offer.offerLinks">
          <a
            [href]="offerLink"
            (click)="logDetailClick('website')"
            target="_blank"
            rel="noopener noreferrer"
            >{{ offerLink }}</a
          ><br />
        </ng-container>
      </p>
    </div>

    <div
      *ngIf="offer.offerEmails?.length"
      class="ion-margin-vertical"
    >
      <h3 class="no-margin-bottom text-style--size-2">
        <span aria-hidden="true">@&nbsp;</span>
        {{ regionData?.labelOfferEmail }}
      </h3>
      <p class="ion-no-margin ion-margin-bottom">
        <ng-container *ngFor="let offerEmail of offer.offerEmails">
          <a
            href="mailto:{{ offerEmail }}?subject=Sent via Helpful Information"
            (click)="logDetailClick('email')"
            >{{ offerEmail }}</a
          ><br />
        </ng-container>
      </p>
    </div>

    <ng-container *ngIf="offer.offerNumbers?.length">
      <h3 class="no-margin-bottom text-style--size-2">
        <img
          src="/assets/icons/phone.svg"
          alt=""
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          class="icon is_small"
        />
        {{ regionData?.labelOfferPhone }}
      </h3>
      <p class="ion-no-margin ion-margin-bottom">
        <ng-container *ngFor="let offerNumber of offer.offerNumbers">
          <a
            [href]="formatPhoneNumberAsUrl(offerNumber)"
            (click)="logDetailClick('phone')"
            >{{ offerNumber }}</a
          ><br />
        </ng-container>
      </p>
    </ng-container>

    <div
      *ngIf="offer.offerAddress"
      class="ion-margin-vertical"
    >
      <h3 class="no-margin-bottom text-style--size-2">
        {{ regionData?.labelOfferAddress }}
      </h3>
      <div
        markdown
        [data]="offer.offerAddress"
        [inline]="false"
        class="ion-margin-bottom"
      ></div>
    </div>

    <div
      *ngIf="offer.moreInfo"
      class="ion-margin-vertical"
    >
      <div
        markdown
        [data]="offer.moreInfo"
        [inline]="false"
        class="ion-margin-bottom"
      ></div>
    </div>
  </div>
</div>
