.offer--float-logo {
  float: left;
  margin-right: 1rem;

  float: inline-start;
  margin-inline-end: 1rem;

  [dir='rlt'] & {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}

.offer--details {
  &::before {
    content: '';
    display: block;
    clear: both;
  }

  strong {
    display: block;
  }
  a {
    color: var(--ion-color-secondary);
    display: block;
  }
  pre {
    font-family: var(--ion-font-family-body);
    white-space: pre-wrap;
  }
}
