<ion-header>
  <app-header
    [title]="referralPageData?.referralPageTitle"
    [loading]="loading"
    (backAction)="goBack()"
    [backButtonLabel]="referralPageData?.referralBackButtonLabel || ''"
    (logoAction)="showRootPage()"
    [logoActionLabel]="referralPageData?.referralMainScreenButtonLabel || ''"
  ></app-header>
</ion-header>

<ion-content *ngIf="isSupportedRegion()" color="dark" class="ion-padding">
  <!-- Loading-placeholder -->
  <div *ngIf="loading">
    <h2>
      <ion-skeleton-text
        animated
        class="skeleton-text--light"
        style="width: 25%; line-height: 1"
      ></ion-skeleton-text>
    </h2>
    <div class="ion-margin-vertical ion-padding-bottom">
      <br />
      <ion-skeleton-text
        animated
        class="skeleton-text--light"
        width="100%"
      ></ion-skeleton-text>
      <ion-skeleton-text
        animated
        class="skeleton-text--light"
        width="100%"
      ></ion-skeleton-text>
      <ion-skeleton-text
        animated
        class="skeleton-text--light"
        width="80%"
      ></ion-skeleton-text>
    </div>
  </div>

  <!-- Region-page = Category-list -->
  <div *ngIf="!loading">
    <!-- Region-page = Category-list -->
    <div *ngIf="!category" class="ion-padding-bottom">
      <h2 class="ion-no-margin">{{ referralPageData.referralPageGreeting }}</h2>
      <div
        class="text-style--wrap-newlines ion-margin-vertical ion-padding-bottom"
      >
        <ion-text> {{ referralPageData.referralPageInstructions }} </ion-text>
      </div>
      <ul class="list-flat tile-grid tile-grid_base-3 ion-margin-vertical">
        <li *ngFor="let categoryItem of categories" class="tile-grid--item">
          <link-tile
            [category]="categoryItem"
            [subCategory]="getNextSubCategory(categoryItem)"
          ></link-tile>
        </li>
      </ul>
      <br /><br /><br />
    </div>

    <!-- Category-page = Sub-Category-list -->
    <div
      *ngIf="category && !subCategory"
      class="ion-margin-bottom ion-padding-bottom"
    >
      <h2 class="ion-no-margin text-style--header text-style--size-1">
        {{ category.categoryName }}
      </h2>
      <p *ngIf="category.categoryDescription">
        {{ category.categoryDescription }}
      </p>

      <ul class="list-flat ion-margin-vertical">
        <li
          *ngFor="let subCategoryItem of subCategories | categoryFilter: category"
          class="ion-margin-bottom"
        >
          <sub-category
            [subCategory]="subCategoryItem"
            [category]="category"
          ></sub-category>
        </li>
      </ul>
    </div>

    <!-- Sub-Category-page = Offer-list -->
    <div
      *ngIf="category && subCategory && !offer"
      class="ion-margin-bottom ion-padding-bottom"
    >
      <h2 class="ion-no-margin text-style--header text-style--size-1">
        {{ subCategory.subCategoryName }}
      </h2>
      <p *ngIf="subCategory.subCategoryDescription">
        {{ subCategory.subCategoryDescription }}
      </p>

      <ul class="list-flat ion-margin-vertical">
        <li
          *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory"
          class="ion-margin-bottom"
        >
          <a
            [routerLink]="['.']"
            [queryParams]="{
                categoryID: _offer.categoryID,
                subCategoryID: _offer.subCategoryID,
                offerID: _offer.offerID
              }"
            (click)="clickOffer(_offer)"
            class="action list-item"
          >
            <span class="logo-badge list-item--icon">
              <ion-img
                [title]="_offer.offerIcon"
                [src]="_offer.offerIcon || 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'"
                alt=""
                loading="lazy"
                class="logo-badge--image"
              ></ion-img>
            </span>
            <span class="list-item--content text-style--hide-overflow_4">
              <strong>{{ _offer.offerName || '&nbsp;' }}</strong><br />
              {{ _offer.offerDescription }}
            </span>
          </a>
        </li>
      </ul>

      <app-last-updated-time
        class="ion-margin-vertical"
      ></app-last-updated-time>
    </div>

    <!-- Offer-detail page -->
    <div *ngIf="category && subCategory && offer">
      <offer [offer]="offer"></offer>

      <app-last-updated-time
        class="ion-margin-vertical"
      ></app-last-updated-time>
    </div>
  </div>
</ion-content>

<!-- Error/404 page -->
<ion-content
  *ngIf="categories?.length === 0 || subCategories?.length === 0 || offers?.length === 0"
>
  <div>
    <ion-card class="referral-data-unavailable-card ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>Data Unavailable</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Please reach out to us at
        <a href="https://www.rodekruis.nl/">https://www.rodekruis.nl/</a>.
      </ion-card-content>
    </ion-card>
  </div>
  <ion-spinner
    *ngIf="loading"
    name="crescent"
    color="light"
    class="ion-margin ion-padding"
  ></ion-spinner>
</ion-content>

<!-- Main/Root/Regions-list page -->
<ion-content *ngIf="!isSupportedRegion()" color="dark" class="ion-padding">
  <div *ngIf="!category" class="ion-margin-bottom ion-padding-bottom">
    <h2 class="text-style--header text-style--size-1">{{ pageHeader }}</h2>
    <p class="text-style--wrap-newlines">{{ pageIntroduction }}</p>
  </div>
  <ul class="list-flat tile-grid tile-grid_base-2 ion-margin-vertical">
    <li *ngFor="let region of regions" class="tile-grid--item">
      <sheet
        [sheetName]="regionsLabels[regions.indexOf(region)]"
        [sheetUrl]="region"
      ></sheet>
    </li>
  </ul>
  <br /><br /><br />
</ion-content>

<ion-footer
  *ngIf="isSupportedRegion() && (!!referralPageData.referralPhoneNumber || !!referralPageData.referralWhatsAppLink)"
  color="secondary"
>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="referralPageData.referralPhoneNumber"
        [href]="'tel:' + referralPageData.referralPhoneNumber"
        target="_blank"
        rel="noopener noreferrer"
        (click)="logContactClick('tel')"
      >
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="referralPageData.referralWhatsAppLink"
        [href]="referralPageData.referralWhatsAppLink"
        target="_blank"
        rel="noopener noreferrer"
        (click)="logContactClick('whatsapp')"
      >
        <ion-img
          class="button-icon--whatsapp-image"
          src="assets/icons/whatsapp.png"
          alt="WhatsApp"
          loading="lazy"
        ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
