<ion-header>
  <app-header
    [title]="referralPageData?.referralPageTitle"
    [loading]="loading"
    (backAction)="goBack()"
    [backButtonLabel]="referralPageData?.referralBackButtonLabel || ''"
    (logoAction)="showRootPage()"
    [logoActionLabel]="referralPageData?.referralMainScreenButtonLabel || ''"
  ></app-header>
</ion-header>

<!-- Loading-placeholder -->
<ion-content
  *ngIf="isSupportedRegion() && loading"
  color="dark"
  class="ion-padding"
>
  <h2>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-text--light"
      style="width: 25%; line-height: 1"
    ></ion-skeleton-text>
  </h2>
  <div class="ion-margin-vertical ion-padding-bottom">
    <br />
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-text--light"
      width="100%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-text--light"
      width="100%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-text--light"
      width="80%"
    ></ion-skeleton-text>
  </div>
</ion-content>

<!-- Region-page = Category-list -->
<ion-content
  *ngIf="isSupportedRegion() && !loading && !category && hasDataToShow()"
  color="dark"
  class="ion-padding"
>
  <h2 class="ion-no-margin">{{ referralPageData.referralPageGreeting }}</h2>
  <div class="text-style--wrap-newlines ion-margin-vertical ion-padding-bottom">
    <ion-text> {{ referralPageData.referralPageInstructions }} </ion-text>
  </div>
  <ul class="list-flat tile-grid tile-grid_base-3 ion-margin-vertical">
    <li
      *ngFor="let categoryItem of categories"
      class="tile-grid--item"
    >
      <app-link-tile
        [category]="categoryItem"
        [subCategory]="getNextSubCategory(categoryItem)"
      ></app-link-tile>
    </li>
  </ul>
  <br /><br /><br />
</ion-content>

<!-- Category-page = Sub-Category-list -->
<ion-content
  *ngIf="isSupportedRegion() && !loading && category && !subCategory"
  color="dark"
  class="ion-padding"
>
  <h2 class="ion-no-margin text-style--header text-style--size-1">
    {{ category.categoryName }}
  </h2>
  <p *ngIf="category.categoryDescription">{{ category.categoryDescription }}</p>

  <ul class="list-flat ion-margin-vertical">
    <li
      *ngFor="let subCategoryItem of subCategories | categoryFilter: category"
      class="ion-margin-bottom"
    >
      <app-sub-category
        [subCategory]="subCategoryItem"
        [category]="category"
      ></app-sub-category>
    </li>
  </ul>
</ion-content>

<!-- Sub-Category-page = Offer-list -->
<ion-content
  *ngIf="isSupportedRegion() && !loading && category && subCategory && !offer"
  color="dark"
  class="ion-padding"
>
  <h2 class="ion-no-margin text-style--header text-style--size-1">
    {{ subCategory.subCategoryName }}
  </h2>
  <p
    *ngIf="subCategory.subCategoryDescription"
    class="text-style--wrap-newlines"
  >
    {{ subCategory.subCategoryDescription }}
  </p>

  <ul
    *ngIf="qaSets && (qaSets | categoryFilter: category | subCategoryFilter: subCategory).length"
    class="list-flat ion-margin-vertical"
  >
    <li
      *ngFor="let _qaSet of qaSets | categoryFilter: category | subCategoryFilter: subCategory"
      class="ion-margin-bottom"
    >
      <details>
        <summary class="details-trigger action action-dark">
          <strong>{{ _qaSet.question }}</strong>
        </summary>
        <p
          class="text-style--wrap-newlines"
          [innerHTML]="_qaSet.answer|convertUrls"
        ></p>
      </details>
    </li>
  </ul>

  <ul class="list-flat ion-margin-vertical">
    <li
      *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory"
      class="ion-margin-bottom"
    >
      <a
        [routerLink]="['.']"
        [queryParams]="{
                categoryID: _offer.categoryID,
                subCategoryID: _offer.subCategoryID,
                offerID: _offer.offerID
              }"
        (click)="clickOffer(_offer)"
        class="action list-item"
      >
        <span class="logo-badge list-item--icon">
          <ion-img
            [title]="_offer.offerIcon"
            [src]="_offer.offerIcon || 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'"
            alt=""
            loading="lazy"
            class="logo-badge--image"
          ></ion-img>
        </span>
        <span
          class="list-item--content text-style--hide-overflow_4 text-style--wrap-newlines"
        >
          <ng-container *ngIf="_offer.offerName">
            <strong>{{ _offer.offerName || '&nbsp;' }}</strong><br />
          </ng-container>
          {{ _offer.offerDescription }}
        </span>
      </a>
    </li>
  </ul>

  <app-last-updated-time class="ion-margin-vertical"></app-last-updated-time>
</ion-content>

<!-- Offer-detail page -->
<ion-content
  *ngIf="isSupportedRegion() && !loading && category && subCategory && offer"
  color="dark"
  class="ion-padding"
>
  <app-offer [offer]="offer"></app-offer>

  <app-last-updated-time class="ion-margin-vertical"></app-last-updated-time>
</ion-content>

<!-- Error/404 page -->
<ion-content
  *ngIf="isSupportedRegion() && !loading && !hasDataToShow()"
  color="dark"
  class="ion-padding"
>
  <h2>Data Unavailable</h2>
  <p>
    Please reach out to us at:
    <a
      href="https://www.rodekruis.nl/"
      style="color: red"
      >https://www.rodekruis.nl/</a
    >
    <br /><br /><br />
    <a
      href="/"
      onclick="location.reload(true)"
      style="color: gold"
    >
      Try again?
    </a>
  </p>
</ion-content>

<!-- Main/Root/Regions-list page -->
<ion-content
  *ngIf="!isSupportedRegion()"
  color="dark"
  class="ion-padding"
>
  <div
    *ngIf="!category"
    class="ion-margin-bottom ion-padding-bottom"
  >
    <h2 class="text-style--header text-style--size-1">{{ pageHeader }}</h2>
    <p class="text-style--wrap-newlines">{{ pageIntroduction }}</p>
  </div>
  <ul class="list-flat tile-grid tile-grid_base-2 ion-margin-vertical">
    <li
      *ngFor="let region of regions"
      class="tile-grid--item"
    >
      <a
        *ngIf="region"
        [routerLink]="['/', region]"
        class="sheet--button action text-style--header text-style--size-1"
      >
        <span>{{ regionsLabels[regions.indexOf(region)] }}</span>
      </a>
    </li>
  </ul>
  <br /><br /><br />
</ion-content>

<ion-footer
  *ngIf="isSupportedRegion() && (!!referralPageData.referralPhoneNumber || !!referralPageData.referralWhatsAppLink)"
  color="secondary"
>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="referralPageData.referralPhoneNumber"
        [href]="'tel:' + referralPageData.referralPhoneNumber"
        target="_blank"
        rel="noopener noreferrer"
        (click)="logContactClick('tel')"
      >
        <ion-icon
          slot="icon-only"
          name="call"
        ></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="referralPageData.referralWhatsAppLink"
        [href]="referralPageData.referralWhatsAppLink"
        target="_blank"
        rel="noopener noreferrer"
        (click)="logContactClick('whatsapp')"
      >
        <ion-img
          src="assets/icons/whatsapp.png"
          alt="WhatsApp"
          loading="lazy"
          style="width: 50px; height: 50px"
        ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
