// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
// @import '@ionic/angular/css/typography.css';
// @import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/padding.css';
// @import '@ionic/angular/css/float-elements.css';
// @import '@ionic/angular/css/text-alignment.css';
// @import '@ionic/angular/css/text-transformation.css';
// @import '@ionic/angular/css/flex-utils.css';

// Baseline Print styles
@import '_print.scss';

// Custom Fonts
@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url('assets/fonts/open-sans/OpenSans-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Bold'),
    url('assets/fonts/open-sans/OpenSans-Bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'montserrat_webfont';
  src:
    local('Montserrat Bold'),
    url('assets/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

// Enable Dynamic Font Scaling
// See: https://ionicframework.com/docs/layout/dynamic-font-scaling
// From: '~@ionic/angular/css/typography.css';
html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);

  font-family: var(--ion-font-family);
}
// Enable Dynamic Type (iOS only)
@supports (-webkit-touch-callout: none) {
  html {
    font: var(--ion-dynamic-font, 16px var(--ion-font-family));
  }
}

//
@media print {
  :root {
    --print-text: #000;
    --print-background: #fff;

    --color: var(--print-text);
    --ion-text-color: var(--print-text);

    --background-color: var(--print-background);
    --ion-color-base: var(--print-background);
    --ion-background-color: var(--print-background);
  }

  *,
  *::before,
  *::after {
    background: var(--print-background) none !important;
    color: var(--print-text);
  }

  // Flatten the 'app'-shell to a regular page
  ion-content::part(scroll),
  html,
  body,
  ion-router-outlet,
  .ion-page {
    position: relative;
    overflow-y: visible;
    contain: none;

    background: var(--print-background) none;
  }
}

//
// Baseline / Normalizations
//
hr {
  border-top: 1px dashed currentColor;
}

a {
  color: inherit;
  -webkit-touch-callout: initial; // Enable "tap-and-hold" on links on mobile/touch/iOS
}

hr {
  border-top: 1px dashed currentColor;
}

// Workaround for touch-screen laptops
// See: https://github.com/ionic-team/ionic-framework/issues/19942#issuecomment-621944260
// See: https://github.com/ionic-team/ionic-framework/blob/4.11.x/core/src/components/app/app.scss
html.plt-mobile ion-app {
  user-select: auto;
}

// Always reserve space to scroll (and to show floating-action-area)
ion-content.ion-padding-vertical,
ion-content.ion-padding {
  --padding-bottom: 2rem;
}

// Prevent scrolling-area from becommnig too small
@media screen and (orientation: landscape) and (max-height: 30em) {
  ion-header,
  ion-footer {
    max-height: 20vh;
    overflow: auto;
  }
}

// Improve rendering performance (possibly) by lowering priority of images:
img[decoding='async'] {
  content-visibility: auto;
}

//
// Layout Utilities:
//
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.layout--float-end {
  float: right;
  float: inline-end;

  [dir='rtl'] & {
    float: left;
    float: inline-end;
  }
}

.list-flat {
  padding-inline-start: 0;

  > li {
    list-style: none;
  }
}
.list-inline {
  > li {
    display: inline;
  }
}

.tile-grid {
  --column-gap: 0.25rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-inline-start: calc(-2 * var(--column-gap));
  margin-inline-end: calc(-2 * var(--column-gap));

  .tile-grid--item {
    padding-inline-start: var(--column-gap);
    padding-inline-end: var(--column-gap);
    margin-bottom: 1rem;
    min-width: 150px; // To always fit 2 items for narrow viewports
  }

  &.tile-grid_base-2 {
    .tile-grid--item {
      flex: 1 0 50%;
    }
  }
  &.tile-grid_base-3 {
    .tile-grid--item {
      flex: 1 0 33%;
    }
  }
}

// Floating Action Button (bottom-end)
.floating-action-area {
  position: fixed;

  @media print {
    display: none;
  }

  &.is_in-page {
    position: relative;
  }
  &.is_bottom-end {
    inset-inline-end: 0;
    bottom: 1rem;
  }
}

//
// Misc. Style Utilities
//
.focus--minimal:focus-visible {
  outline-width: 1px;
  outline-style: dashed;
}
@keyframes focus-fade-out {
  0% {
    outline: 1px dashed currentColor;
    outline-offset: 2px;
  }
  100% {
    outline-color: transparent;
  }
}
.focus--fade-out:focus-visible {
  animation: focus-fade-out 1s 0s 1 forwards;
}

//
// Text Style Utilities:
//
.text-style--center {
  text-align: center !important;
}
.text-style--end {
  text-align: end !important;
}
.text-style--use-newlines {
  white-space: pre-wrap;
}
.text-style--alt {
  font-family: var(--ion-font-family-header);
  font-weight: bold;
  letter-spacing: 0.08em;

  [dir='rtl'] & {
    letter-spacing: 0;
  }
}
.text-style--size-08 {
  font-size: 0.875rem;
}
.text-style--size-1 {
  font-size: 1rem;
}
.text-style--size-2 {
  font-size: 1.25rem;
}
.text-style--hide-overflow_5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: calc(5 * 1.4em);
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-style--inline-link:visited,
.text-style--inline-link:link,
.text-style--inline-link {
  color: inherit;

  &.is_minimal {
    text-decoration-style: dotted;
  }
}

.text-area--level {
  font-family: var(--ion-font-family);
  color: var(--ion-color-dark);
  background-color: var(--ion-color-secondary);
}

//
// Components
//

.floating-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba(var(--ion-color-light-contrast-rgb), 0.6);
}

@keyframes shine {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.loading-text {
  --background-rgb: var(--ion-color-dark-contrast-rgb);

  display: inline-block;
  width: 100%;
  line-height: 1;
  background: linear-gradient(
    to right,
    rgba(var(--background-rgb), 0.1) 8%,
    rgba(var(--background-rgb), 0.4) 18%,
    rgba(var(--background-rgb), 0.1) 33%
  );
  background-size: 1000px 100%;
  animation-name: shine;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &::before {
    content: ' ';
    display: inline-block;
  }
}

.action {
  --action--color: #011e60;
  --action--color-active: #011e60;
  --action--background-color: #fff;
  --action--background-color-active: #efefef;

  display: block;
  width: 100%;
  padding: 0.5em;

  border-radius: 0.25rem;
  text-decoration: none;

  @media print {
    --action--color: #333;
    --action--color-active: #000;
    --action--background-color: #fff;
    --action--background-color-active: #fff;

    border: 0.05em solid #ccc;
    font-weight: bold;
  }

  &,
  &:link,
  &:visited {
    color: var(--action--color);
    background-color: var(--action--background-color);
  }

  &:hover,
  &:focus {
    color: var(--action--color-active);
    background-color: var(--action--background-color-active);
    outline-color: initial;
    outline-offset: 2px;
    outline-width: 4px;
    outline-style: solid;
  }
  &:focus {
    outline-color: var(--action--background-color-active);
  }

  &.is_attention {
    color: black;
    background-color: gold;

    &:hover,
    &:focus {
      outline-color: gold;
    }
    @media print {
      border: 0.1em dashed #000;
    }
  }

  &.is_inline {
    display: inline-block;
    width: auto;
  }

  &.is_round {
    line-height: 1;
    border-radius: 50%;
    min-width: 2rem;
    min-height: 2rem;

    &.is_inline {
      border-radius: 1rem;
    }
  }
}

.action-dark {
  --action--color: #fff;
  --action--color-active: #fff;
  --action--background-color: #1f3958;
  --action--background-color-active: #3a4f6a;

  @media print {
    --action--color: #333;
    --action--color-active: #000;
    --action--background-color: #fff;
    --action--background-color-active: #fff;

    border: 0.05em solid #ccc;
  }
}

.sheet--button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 3em;
  text-align: center;
}

.icon {
  &.is_small {
    width: 0.8125em;
    height: 0.8125em;
    margin-inline-end: 0.25em;
  }
}

.list-item {
  display: flex;

  .list-item--icon {
    flex: 0 0 auto;
    margin-inline-end: 0.75rem;
  }
  .list-item--content {
    flex: 1 1 100%;
  }
}

.logo-badge {
  display: flex;
  width: 6.5rem;
  height: 6.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;

  .logo-badge--image {
    width: 100%;
    height: 100%;
  }
}

.contact-button {
  display: block;
  line-height: 1;

  .contact-button--link {
    display: inline-block;
    padding-block: 0.3rem;
    padding-inline: 0.6rem;
    background: white;
    border-radius: 48px 0 0 48px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;

    &:hover,
    &:focus {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    }
    &:focus {
      border-color: gold;
    }
  }

  .contact-button--logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 48px;
    max-height: 48px;
    aspect-ratio: 1 / 1;
  }
}

.contact-button + .contact-button {
  margin-top: 0.5rem;
}

.notification-bar {
  font-size: 85%;
  border-start-start-radius: 0.25rem;
  border-start-end-radius: 0.25rem;

  // Utility class to use in (Markdown)content
  .d-flex {
    display: flex;
    align-items: center;
    gap: 1ex;
  }

  // Utility class to use in (Markdown)content
  .d-center {
    text-align: center;
  }
}

/**
  Markdown generated HTML overrides
*/
[markdown],
.markdown {
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  h6 + p,
  h5 + p,
  h4 + p,
  h3 + p,
  & > ol:first-child,
  & > ul:first-child,
  & > p:first-child {
    margin-top: 0;
  }

  ol,
  ul {
    padding-inline-start: 1em;
  }
  table {
    width: 100%;
  }
  th,
  td {
    padding: 0.25em;
  }

  @media print {
    a[href]:not([rel~='x-plain-url'])::after {
      content: ' (' attr(href) ')';
    }
  }
}

/**
  Overrides for Google Translate (in-page)
*/
body[style*='margin-top: 56px;'] {
  margin-top: 0 !important;
  background-position-y: 56px;

  ion-app {
    top: 56px;
  }

  // Hide own language-switcher when Google's is active
  .language-switcher {
    display: none;
  }
}
