.link-row {
  display: flex;

  align-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.link-row--icon {
  display: block;
  max-width: 25%;
  height: auto;
  min-height: 2.25rem;
  max-height: 2.25rem;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
}

.link-row--label {
  display: block;
  flex: 1 1 100%;
}
