# More information on Static Web App workflow configurations,
# See: https://aka.ms/swaworkflowconfig
# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'staging: Deploy Azure Static Web App'

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '!.github/**'
      - '.github/workflows/deploy-staging.yml'
      - '*'
      - '!*.md'
      - 'src/**'

  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - '!.github/**'
      - '.github/workflows/deploy-staging.yml'
      - '*'
      - '!*.md'
      - 'src/**'

jobs:
  build_and_deploy_job:
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
         uses: actions/setup-node@v3
         with:
           node-version-file: '.node-version'
           cache: 'npm'

      - name: Install
        run: 'npm install'

      - name: Build
        run: 'npm run build:production'
        env:
          NG_PRODUCTION: 'true'
          ENV_NAME: 'staging'
          NG_USE_SERVICE_WORKER: 'true'
          TXT_APP_NAME: 'Helpful Information'
          TXT_MAIN_PAGE_HEADER: 'The Netherlands Red Cross provides Helpful Information.'
          TXT_MAIN_PAGE_INTRO: 'Please choose a location.'
          REGIONS: 'sandbox,covid-vaccinations,amsterdam,rotterdam,almere-lelystad,den-haag,zambia'
          REGIONS_LABELS: 'SandBox,COVID19 Vaccinations,Amsterdam,Rotterdam,Almere / Lelystad,Den Haag,Zambia'
          GOOGLE_SHEETS_SHEET_IDS: '1NGRjvXdGvugPMiVUoBQguUIb148FsqCU22Y2SAL1t1Q,1FD0wZeyeNVo5I_IbGS4mGNPglF1oVCRI8RvpxFkLBEI,18V7f3sjOTscwr0J8rHkYNFfyP7gF-kKUU4P12KBJv9c,1uDPvbPp7hp7DpUKTDNIpLYFSHSRyC2_aLYKHm9tH_us,1YGmCKnWS2AV9S0RGnWWNiT_cdrYLTs1otEZEDWYmevo,1o6lvU8VPgwQYcQc7hY4zOP3MscRXwQgM2TddWshbr5U,1m6KQytq2SE_UtA3i0RrO6QNyLLeHXKDwAO0nCoazDnU'
          GOOGLE_SHEETS_API_KEY: ${{ secrets.STAGE_GOOGLE_SHEETS_API_KEY }}
          GOOGLE_SHEETS_API_URL: 'https://sheets.googleapis.com/v4/spreadsheets'
          AI_CONNECTION_STRING: ''

      - name: Deploy to Staging
        uses: Azure/static-web-apps-deploy@v1
        with:
          skip_deploy_on_missing_secrets: true
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GREEN_PEBBLE_0707A6B03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: '/'
          output_location: 'www'
          skip_app_build: true

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request for Staging
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GREEN_PEBBLE_0707A6B03 }}
          action: 'close'
